:root{
  --spacing:10px;
  --blur:20px;
  --base:red;
}
*{
  box-sizing:border-box;
}

body{
  margin: 0%;
  padding: 0%;
  font-family: Arial, Helvetica, sans-serif;
}
.controls{
  margin-bottom: 20px;
}
img{
  margin-left:40px;
  padding: var(--spacing);
  background-color: var(--base);
  filter:blur(var(--blur));
}